extends layout

block content
  div.dashboard-container
    header
      h1 Welcome, #{user.username}!
      p Your role: #{user.role}
    nav
      a(href='/clients') View Clients
      a(href='/reports') View Reports
