extends layout

block content
  div.login-container
    h2 Login
    if error
      p.error= error

    form(action='/login' method='post')
      label(for='username') Username:
      input(type='text' name='username' required)
      
      label(for='password') Password:
      input(type='password' name='password' required)

      input(type='submit' value='Login')

  link(rel='stylesheet' type='text/css' href='stylesheets/login.css')