extends layout

block content
  h2 Upload Report

  form(action='/upload-report' method='post' enctype='multipart/form-data')
    label(for='clientId') Client ID:
    input(type='number' id='clientId' name='clientId' required)

    label(for='reportName') Report Name:
    input(type='text' id='reportName' name='reportName' required)

    label(for='fileName') File Name (optional):
    input(type='text' id='fileName' name='fileName')

    label(for='reportFile') Upload Report File:
    input(type='file' id='reportFile' name='reportFile' accept='.pdf' required)

    button(type='submit') Upload Report
